@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background: #000000;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
*{
  color: aliceblue;
  font-family: "Swis721 BlkEx BT";
}
h1{
  font-family: "Swis721 BlkEx BT";
}
p{
  font-family: "Stylus BT";

}
.hero{
  height: calc(100vh - 22rem);
}